APP_NAME=Easy Study API
TELEGRAM_BOT_TOKEN=
TELEGRAM_MINI_APP_URL=https://uchebalegho.ru/
DEV_TELEGRAM_USER_ID=
FRONTEND_ORIGIN=https://uchebalegho.ru
FRONTEND_ORIGINS=https://uchebalegho.ru,https://www.uchebalegho.ru
AUTO_CREATE_DB=false
MAX_REQUEST_BODY_BYTES=1048576
LOG_LEVEL=INFO

POSTGRES_DB=easy_study
POSTGRES_USER=easy_study
POSTGRES_PASSWORD=change-me
